*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px solid black;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    display: block;
    color: black;
}
li{
    list-style-type: none;
}
.container{
    width: 100%;
    height: 1200px;

    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(bg.jpg) no-repeat;
    background-size: cover;
    color: white;
}
.header{
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 200px;
    height: 80px;

    font-size: 60px;
    text-align: center;
    font-weight: bold;
}
.menu{
    width: 400px;
    height: 100px;

    display: flex;
    align-items: center;
}
.menu li{
    width: 100px;
    text-align: center;
}
.menu li a{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.main{
    width: 800px;
    height: 500px;
    margin: 0 auto;

    margin-top: 200px;
    text-align: center;
}
.main h1{
    font-size: 50px;
    margin-bottom: 50px;
}
.main h2{
    font-size: 45px;
    margin-bottom: 50px;
}
.main p{
    font-size: 30px;
    margin-bottom: 150px;
}
.main button{
    font-size: 30px;
    width: 300px;
    height: 100px;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
}
.main button:hover{
    background-color: white;
    color: black;

    cursor: pointer;
}
.about{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    margin-top: 200px;

}
.about h2{
    font-size: 30px;
    color: blue;
}
.about h1{
    font-size: 50px;
}
.about .contents{
    width: 100%;
    height: 500px;

    display: flex;
}
.about .left{
    width: 400px;
    height: 500px;
}
.about .right{
    width: 800px;
    height: 500px;
    padding-left: 10px;
}
.about img{
    width: 400px;
    height: 500px;
}
.about .right h3{
    font-size: 22px;
    color: aqua;
}
.about .right li{
    font-size: 22px;
    margin-top: 10px;

}
.fa-brands{
    font-size: 50px;
}
.fa-youtube{
    color: red;
}
.fa-facebook{
    color: #3b5998;
}
.skills{
    width: 100%;
    height: 800px;
    background-color: #eee;
}
.skills-inner{
    width: 1200px;
    height: 800px;
    margin: 0 auto; 

    padding-top: 100px;
}
.skills h2{
    font-size: 30px;
    color: blue;
}
.skill2 h1{
    font-size: 50px;
}
.skills .contents{
    width: 1200px;
    height: 400px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 50px;
}
.skills .contents li{
    width: 350px;
    height: 350px;
    background-color: white;

    padding: 15px;
    font-size: 20px;
    text-align: center;

    transition: 0.3s;
}
.skills h3{
    font-size: 30px;
    margin-bottom: 15px;
}
.fa-keyboard{
    font-size: 50px;
}
.skills li:hover{
    background-color: green;
    color: white;

    transform: scale(1.1);
}
.bg{
    border: 1px solid black; width: 100%;
    height: 800px;
    background: url(dkd.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.projects{
    height: 1200px;
}
.contact{
    width: 100%;
    height: 800px;
    
    margin-top: 100px;
}
.contact-inner{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}
.contact h2{
    font-size: 30px;
    color: blue;
}

.contact h1{
    font-size: 50px;
}

.contact .contents{
    width: 1200px;
    height: 800px;

    display: flex;
}

.contact .contents .left{
    width: 400px;
    height: 800px;   
}

.contact .contents .right{
    width: 800px;
    height: 800px;
}
.info{
    
}
.info li{
    width: 350px;
    height: 130px;

    font-size: 30px;

    border: 1px solid #ddd;
    margin-top: 20px;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 30px;
}
.contact .right h5{
    font-weight: normal;

    margin-top: 30px;
}
.contact .right input{
    width: 700px;
    height: 30px;
}
.contact .right textarea{
    width: 700px;
    height: 300px;
}
.contact .right button{
    width: 700px;
    height: 30px;
    background-color: orange;
    color: white;

    margin-top: 20px;
    border: none;
}